*.o
*.exe
#executables
#H2
Thomas_Huang_AssignmentHW2/p1
Thomas_Huang_AssignmentHW2/p2
Thomas_Huang_AssignmentHW2/p3
Thomas_Huang_AssignmentHW2/p4
#H3
Thomas_Huang_AssignmentHW3/h1
Thomas_Huang_AssignmentHW3/h2
Thomas_Huang_AssignmentHW3/h3
Thomas_Huang_AssignmentHW3/h4
#output images
#H2
Thomas_Huang_AssignmentHW2/outputp1.pgm
Thomas_Huang_AssignmentHW2/outputp2.pgm
Thomas_Huang_AssignmentHW2/outputp3.pgm
Thomas_Huang_AssignmentHW2/output.txt
#H3
Thomas_Huang_AssignmentHW3/outputh1.pgm
Thomas_Huang_AssignmentHW3/outputh2.pgm
Thomas_Huang_AssignmentHW3/outputh3.pgm
Thomas_Huang_AssignmentHW3/output.txt
Thomas_Huang_AssignmentHW3/outputh4.pgm