*.o
*.exe
Thomas_Huang_AssignmentHW2/outputp1.pgm
Thomas_Huang_AssignmentHW2/outputp2.pgm
Thomas_Huang_AssignmentHW2/outputp3.pgm
Thomas_Huang_AssignmentHW2/output.txt
Thomas_Huang_AssignmentHW3/outputh1.pgm
Thomas_Huang_AssignmentHW3/outputh2.pgm
Thomas_Huang_AssignmentHW3/outputh3.pgm
Thomas_Huang_AssignmentHW3/output.txt
Thomas_Huang_AssignmentHW3/outputh4.pgm